Package tk.fhproductions.cydia
Name: iOS 7 Noobkick
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 7 Theme ReUploaded
Maintainer: Noobkick <even.flatabo@gmail.com>
Author: Noobkick <even.flatabo@gmail.com>
Section: Themes (Springboard)
